In [179]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [180]:
df=pd.read_csv('loan_data.csv')

In [181]:
df.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [182]:
purpose_dummy=pd.get_dummies(df['purpose'],drop_first=True)

In [183]:
df=pd.concat([df,purpose_dummy],axis=1)

In [184]:
df.drop('purpose',axis=1,inplace=True)

In [185]:
df.head(2)

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid,credit_card,debt_consolidation,educational,home_improvement,major_purchase,small_business
0,1,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0,0,1,0,0,0,0
1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0,1,0,0,0,0,0

In [186]:
from sklearn.model_selection import train_test_split

In [187]:
X=df.drop('not.fully.paid',axis=1)
y=df['not.fully.paid']

In [188]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30)

Decision Tree

In [189]:
from sklearn.tree import DecisionTreeClassifier

In [190]:
Dtree=DecisionTreeClassifier()
Dtree.fit(X_train,y_train)

DecisionTreeClassifier()

In [191]:
Dtree_pred=Dtree.predict(X_test)

In [192]:
from sklearn.metrics import classification_report,confusion_matrix

In [193]:
print(confusion_matrix(y_test,Dtree_pred))
print(classification_report(y_test,Dtree_pred))

[[2005  401]
 [ 336  132]]
              precision    recall  f1-score   support

           0       0.86      0.83      0.84      2406
           1       0.25      0.28      0.26       468

    accuracy                           0.74      2874
   macro avg       0.55      0.56      0.55      2874
weighted avg       0.76      0.74      0.75      2874

Random Forest

In [194]:
from sklearn.ensemble import RandomForestClassifier

In [195]:
rfc=RandomForestClassifier(n_estimators=600)
rfc.fit(X_train,y_train)

RandomForestClassifier(n_estimators=600)

In [196]:
rfc_pred=rfc.predict(X_test)

In [197]:
print(confusion_matrix(y_test,rfc_pred))
print(classification_report(y_test,rfc_pred))

[[2400    6]
 [ 464    4]]
              precision    recall  f1-score   support

           0       0.84      1.00      0.91      2406
           1       0.40      0.01      0.02       468

    accuracy                           0.84      2874
   macro avg       0.62      0.50      0.46      2874
weighted avg       0.77      0.84      0.77      2874